body{margin:0;font-family:sans-serif;}

.login-bg{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:black;
color:white;
}

.glass{
background:rgba(255,255,255,0.2);
padding:20px;
border-radius:10px;
text-align:center;
}

#bgVideo{
position:fixed;
width:100%;
height:100%;
object-fit:cover;
z-index:-1;
}

.content{
text-align:center;
color:white;
}

#intro{
position:fixed;
width:100%;
height:100%;
background:black;
display:flex;
justify-content:center;
align-items:center;
color:white;
}
